<!DOCTYPE html>
{% load static  %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="{% static 'main/css/login.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
<div id="container">
    <p id="title">Регистрация на <span id="orange">Bee</span>lango</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
</div>
</body>
</html>